<ion-header>

  <ion-toolbar>

    <back-button (action)="clearCache()"></back-button>

    <ion-title>Attendance list</ion-title>

    <ion-buttons slot="end" *ngIf="attendanceSheet?.users.length > 0">
      <ion-icon class="header-icon" name="trash-outline" (click)="showDeleteAlert()"></ion-icon>
    </ion-buttons>

  </ion-toolbar>

  <div class="attendance-sheet__date">
    <span>{{attendanceSheet?.date | date: 'dd/MM/YYYY HH:mm'}}</span>
  </div>

  <ion-searchbar *ngIf="attendanceSheet?.users.length > 0" debounce="250" (ionChange)="search = $event.detail.value"></ion-searchbar>

</ion-header>

<ion-content class="attendance-sheet-component">

  <div class="user-grid">
    <selectable-user-card
      *ngFor="let user of attendanceSheet?.users | search: search : ['name']"
      readOnly="true"
      [user]="user"
      [isChecked]="user.checked">
    </selectable-user-card>
  </div>

</ion-content>

