@import 'src/styles/variables';
@import 'src/styles/colors';

.groups-component {
  margin-bottom: 4rem;

  .groups--empty {
    display: grid;
    height: 100%;
    opacity: 0.7;
    place-items: center;
    width: 100%;

    img {
      height: 15rem;
      width: 15rem;
    }

    span {
      align-self: start;
      color: $text-color;
      font-size: 1.6rem;
      padding: 0 1rem;
      text-align: center;
    }
  }

  .groups-grid {
    display: grid;
    gap: $grid-gap;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  @media screen and (min-width: 577px) {
    .groups-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}
